#pauseButton {
    background-color: red;
    border: 0.3em solid black;
    color: white;
    border-radius: 0.5em;
    width: 6em;
    height: 2em;
    font-size: 100%;
    text-align: center;
}