button {
    outline: 0 !important;
}

html {
    height: 100%;
}

hr {
    clear: both;
}

body {
    overflow: hidden;
}

#settings-configurations, #settings-devices {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

#deviceModal input {
    width: 50%;
}

#deviceModal select {
    width: 50%;
}

#url {
    width: 25%;
}

#emulation-mode {
    padding: 10px;
    width: 100%;
    height: 100%;
}

#timeline {
    width: 30%;
    float: left;
    height: 100%;
    overflow-y: auto;
}

#timeline .timeline-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
}

#timeline select {
    width: 90%;
    margin: auto;
}

#timeline .content .label {
    display: inline-block;
    width: 90%;
    margin: 0 auto;
    padding: 3.5px 10px;
    font-size: 0.9em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    opacity: 0.9;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}

#timeline .event-container {
    height: 100%;
}

#timeline .content {
    margin: 10px;
    padding: 10px;
    position: relative;
    top: 0;
}

#timeline .device-timeline {
    width: 100%;
    height: 100%;
    border-right: 2px solid #337ab7;
    text-align: center;
}

#devices {
    position: relative;
    width: 70%;
    height: 100%;
    float: left;
    border-right: 5px solid #337ab7;
}

#single-device-mode iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
}

#single-device-mode input {
    margin: 10px auto;
    height: 50px;
}

#break-button {
    margin-bottom: 10px;
}

#break-button .text {
    font-size: 12px;
}

.break {
    width: calc(90% - 15px);
    margin: 0 auto;
    background-color: rgba(51, 122, 183, 0.1);
}

.device-container {
    display: inline-block;
    border: 10px solid #265a88;
    border-radius: 10px;
    background-color: white;
    margin: 10px;
    padding: 5px;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 5px 5px 5px black;
    z-index: 1;
}

.device-container iframe {
    transform: scale(0.5);
    transform-origin: 0 0;
}

.vertical-rule {
    width: 0;
    height: 100%;
    margin: 0;
    border: 2px solid black;
    margin-top: 91px;
    float: left;
    clear: none;
}

.timeline-title {
    height: 35px;
    font-weight: bold;
}

.time {
    height: 100px;
}

.timeline-wrapper {
    width: 65px;
    margin: 0 5px;
    text-align: right;
    margin-top: 35px;
    height: 100%;
    float: left;
}
.device-container .layer {
    width: 80px;
}

.device-container h4 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.bold {
    font-weight: bold;
}

.right {
    float: right;
}

.left {
    float: left;
}

.blue {
    color: #337ab7;
    opacity: 1 !important;
}

.device-container h3 {
    margin: 10px;
}

.rotate-img {
    height: 19px;
}

.device-container input {
    margin-bottom: 5px;
}

.device-container button {
    float: right;
    margin: 5px;
}

header input {
    width: 10% !important;
    display: inline-block !important;
}

header {
    margin-bottom: 20px;
}

header h1 {
    display: inline-block;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.ui-autocomplete {
    z-index: 5000 !important;
}

.device-container h4 {
    float: left;
    display: inline-block;
}

.settings-panel {
    display: none;
}

.settings-panel input[type=range] {
    width: 90%;
    float: left;
    display: inline;
}

.settings-panel .scale-factor {
    width: 90%;
    font-size: 1.5em;
}
