button {
    outline: 0 !important;
}

html {
    height: 100%;
}

hr {
    clear: both;
}

body {
    overflow: hidden;
}

#settings-configurations, #settings-devices, #settings-sequences {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

#deviceModal input {
    width: 50%;
}

#deviceModal select {
    width: 50%;
}

#url {
    width: 25%;
}

body {
    padding: 10px;
    width: 100%;
    height: 100%;
}

#timeline {
    width: 30%;
    float: left;
    height: 100%;
    overflow-y: auto;
}

#timeline .timeline-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
}

#timeline h4 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    max-width: calc(100% - 88px);
}

#timeline select {
    width: 90%;
    margin: auto;
}

#timeline .content .label {
    width: 100%;
    margin: 0 auto;
    padding: 3px 10px;
    font-size: 0.9em;
    border-radius: 10px;
    opacity: 0.9;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}

#timeline .event-container {
    height: 100%;
}

#timeline .content {
    margin: 10px;
    padding: 2px 10px;
    position: relative;
    top: 0;
    border: 2px dotted #337ab7;
}

#timeline .device-timeline {
    width: 100%;
    height: 100%;
    border-right: 2px solid #337ab7;
    text-align: center;
}

#devices {
    position: relative;
    width: 70%;
    height: 100%;
    float: left;
    border-right: 5px solid #337ab7;
}

#break-button {
    margin-bottom: 10px;
}

#break-button .text {
    font-size: 12px;
}

#breakpoint-container {
    float: left;
    height: 100%;
    border-left: 1px solid #265a88;
    border-right: 1px solid #265a88;
    width: 25px;
}

#continue-button {
    float: left;
    background: transparent none;
    width: 25px;
    padding: 0;
    height: 25px;
}

.record, .play {
    float: right;
    margin: 5px;
}

.break {
    width: calc(100% - 15px);
    margin: 0 auto;
    background-color: rgba(51, 122, 183, 0.1);
    -webkit-user-select: none;
    cursor: url(../img/scissors.png) 0 7, auto;
}

.seq-remove-button, .seq-save-button {
    background-image: none;
    margin: 5px;
    float: right;
    width: 25px;
    height: 25px;
    padding: 0;
}

.device-container {
    display: inline-block;
    border: 10px solid #265a88;
    border-radius: 10px;
    background-color: white;
    margin: 10px;
    padding: 5px;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 5px 5px 5px black;
    z-index: 1;
}

.device-container iframe {
    transform: scale(0.5);
    transform-origin: 0 0;
}

.vertical-rule {
    width: 0;
    height: 100%;
    border: 2px solid black;
    margin: 91px 0 0;
    float: left;
    clear: none;
}

.breakpoint {
    width: 15px;
    height: 15px;
    background-color: #f2dede;
    border-radius: 9px;
    position: relative;
    left: 4px;
    border: 3px solid #a94442;
    margin-bottom: -15px;
    opacity: 0.5;
}

.timeline-title {
    height: 35px;
    font-weight: bold;
}

.time {
    height: 100px;
    width: 25px;
    float: right;
    clear: right;
}

.cut-line {
    position: relative;
    margin: 0 0 -1px;
    top: 0;
    display: none;
    border-color: black;
}

.timeline-wrapper {
    width: 65px;
    text-align: right;
    margin: 35px 5px 0;
    height: 100%;
    float: left;
}
.device-container .layer {
    width: 80px;
}

.device-container h4 {
    user-select: none;
    cursor: default;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bold {
    font-weight: bold;
}

.right {
    float: right;
}

.left {
    float: left;
}

.blue {
    color: #337ab7;
    opacity: 1 !important;
}

.device-container h3 {
    margin: 10px;
}

.rotate-img {
    height: 19px;
}

.device-container input {
    margin-bottom: 5px;
}

.device-container button {
    float: right;
    margin: 5px;
}

header input {
    width: 10% !important;
    display: inline-block !important;
}

header button {
    margin: 0 5px;
}

header {
    margin-bottom: 20px;
}

header h1 {
    display: inline-block;
    margin-right: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.ui-autocomplete {
    z-index: 5000 !important;
}

.device-container h4 {
    float: left;
    display: inline-block;
}

.settings-panel {
    display: none;
}

.settings-panel input[type=range] {
    width: 90%;
    float: left;
    display: inline;
}

.settings-panel .scale-factor {
    width: 90%;
    font-size: 1.5em;
}
