#object-container {
    display: flex;
    flex-flow: row;
    width: 100%;
}

.object {
    margin: 10px 5px;
}

.object .remove-object {
    float: right;
}

.object .name {
    word-wrap: break-word;
}

#object-list {
    width: 20%;
    float: left;
    height: 100%;
    flex: 1 auto;
    border-left: 1px solid #337ab7;
    padding: 5px;
}

#object-list input {
    margin-right: 5px;
}

#object-list hr {
    margin: 10px 0 0;
}