#search-panel, #video-overview {
    display: block;
    width: 50%;
}

.queued-video {
    max-width: 30% !important;
    margin: 1.5%;
}

.queued-video img {
    width: 100%;
}

#video-overview {
    float: right;
}

#search-panel {
    float: left;
}

#youtube-logo {
    width: 10vw;
    margin-right: 90vw;
    float: left;
}

#results {
    width: 100%;
}

div {
    font-size: 1.2em;
}

h4 {
    font-size: 1.5em;
}