html { height: 100% }
body { height: 100%; margin: 0; padding: 0;}
#map-canvas { height: 100% }

form {
    width: 100%;
}

.group {
    display: flex;
    flex-flow: row;
}

#location {
    height: 100%;
}

#general {
    height: 100%;
    display: flex;
    flex-flow: column;
}

#movie {
    margin: 10px;
}

#movie .title {
    font-weight: bold;
}

#movie img {
    float: left;
    margin: 5px;
}

#movie .genres, .runtime, .rating {
    margin: 5px 0;
}

.cinema .name {
    cursor: pointer;
}

.movie img, .movie h3 {
    cursor: pointer;
}

.movie img {
    max-width: 28%;
    float: left;
    margin: 5px;
}

.movie .cinemas {
    float: left;
    width: 68%;
}

.cinema {
    clear: both;
}

.movie .name {
    font-weight: bold;
    float: left;
}

.movie .time {
    margin: 0 5px;
    float: left;
}

.movie h3 {
    font-size: 20px;
    margin: 7px;
}

.clear {
    clear: both;
}

#logo {
    margin: 5px;
    float: right;
    width: auto;
    height: auto;
    max-width: 50vw;
    max-height: 5vh;
}

form {
    clear: both;
}

#search-results {
    overflow-y: auto;
    width: 100%;
    overflow-x: hidden;
}

.cinemas {
    font-size: 13px;
}

.genres {
    clear: both;
}

label, input, button {
    margin: 5px !important;
}

label {
    width: 10% !important;
    float: left !important;
    clear: both !important;
    padding-top: 7px !important;
}

hr:last-of-type {
    display: none;
}

#search {
    clear: both !important;
    display: block;
}

iframe {
    width: 100vw;
    height: 55vw;
    margin: 0;
    padding: 0;
}